<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col">
    <%= link_to 'New Country', new_admin_country_path, class: 'btn btn-success' %>
  </div>
</div>
<br/>
<div class="card">
    <div class="row">
      <div class="col">
	  	<h1><%= I18n.t('admin.countries.list.header') %></h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= I18n.t('admin.countries.list.country_name') %></th>
            <th><%= I18n.t('admin.countries.list.code') %></th>
            <th><%= I18n.t('admin.countries.list.active') %></th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
        <% @countries.each do |country| %>
          <tr>
            <td class="align-middle"><%= country.name %></td>
            <td class="align-middle"><%= country.code %></td>
            <td class="align-middle"><%= country.active %></td>
            <td class="align-middle"><%= link_to 'Edit', edit_admin_country_path(country) %></td>
            <td class="align-middle"><%= link_to 'Destroy', [:admin, country], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
</div> 