<div class="row">
  <p id="notice"><%= notice %></p>

  <div class="col">
    <%= link_to 'New District', new_admin_district_path, class: 'btn btn-success' %>
  </div>
</div>

<br />

<div class="card">
    <div class="row">
      <div class="col">
				<h1><%= I18n.t('admin.districts.list.header') %></h1>
				<table class="table table-striped">
					<thead>
					<tr>
						<th><%= I18n.t('admin.districts.list.city_name') %></th>
						<th><%= I18n.t('admin.districts.list.district_name') %></th>
						<th><%= I18n.t('admin.districts.list.code') %></th>
						<th><%= I18n.t('admin.districts.list.active') %></th>
						<th colspan="2"></th>
					</tr>
					</thead>

					<tbody>
					<% @districts.each do |district| %>
						<tr>
							<td class="align-middle"><%= district.city.name %></td>
							<td class="align-middle"><%= district.name %></td>
							<td class="align-middle"><%= district.code %></td>
							<td class="align-middle"><%= district.active %></td>
							<td class="align-middle"><%= link_to 'Edit', edit_admin_district_path(district) %></td>
							<td class="align-middle"><%= link_to 'Destroy', [:admin, district], method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
				<%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
</div> 